*{
			margin:0;
			padding:0;
		}
			body {
				 margin:0;
				 background-color:black;
				 font-family:Arial;
			}
			 li {
					color:white;
					list-style:none;
					float:left;
					font-size:0.75em;
					padding-left:19px;
					padding-top:12px;
					position:relative;
					top:-4px;
					text-align:center;
				}
				#imlittle {
					height:15px;
					width:20px;
					padding-top:-2px;
				}
				a{
				color:white;
				text-decoration:none;
			}
			#colorp{
				color:white;
				margin-left:200px;
				top:20px;
			}
			#clear{
				clear:both;
			}
			#img{
				width:400px;
				height:250px;
				border-radius:10px;
				position:relative;
				left:100px;
				top:20px;
			}
			p{
				color:white;
				margin-left:100px;
				font-size:0.85em;
				line-height:20px;
				position:relative;
				top:20px;
			}